<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Hello {{name}}!</h1>
{{#if lastName}}
    <h2>This will be displayed!!</h2>
{{/if}}
  <div>
        <img src="https://media.giphy.com/media/l0MYEqEzwMWFCg8rm/giphy.gif">
  </div>
  <a href="/about">About Page</a>
  <a href="/locations">Towns</a>
</body>
</html>