<form action="/authors/create" method="post">
  <label form=""> Author first name: </label>
  <input type="text" name="firstName" id="">
<label form=""> Author last name: </label>
  <input type="text" name="lasttName" id="">
<label form=""> Author's nationality: </label>
  <input type="text" name="nationality" id="">
<label form=""> Author's image: </label>
  <input type="text" name="image_url" id="">

  <button type="submit">Add new author</button>
</form>