{{!-- index.hbs --}}
 <div class="cards-container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.nba.com/bucks/sites/bucks/files/styles/story_main_photo/public/dubo-bgv4aa2bct.jpg?itok=yQkZWr1a" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Players</h5>
        <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
        <a href="/players" class="btn btn-primary">See Players</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://i.imgur.com/lilgD1s.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Teams</h5>
        <p class="card-text">Here we can check all NBA Teams..</p>
        <a href="/teams" class="btn btn-primary">See Teams</a>
      </div>
    </div>
  </div>