<form action="/authors/create" method="post">
  <label form=""> Author's first name: </label>
  <input type="text" name="firstName" id="">

<label form=""> Author's last name: </label>
  <input type="text" name="lastName" id="">

  <label form=""> Description </label>
  <input type="text" name="description" id="">

<label form=""> Author's nationality: </label>
  <input type="text" name="nationality" id="">

<label form=""> Author's birthday: </label>
  <input type="date" name="birthdate" id="">

<label form=""> Author's image: </label>
  <input type="String" name="image_url" id="">

  <button type="submit">Add new author</button>
</form>